<h4><strong>BeagleBone Board Boot Options</strong></h4>



<p>Do you know that you can boot the AM335x SOC from the following boot sources???

  </p>

<p>1) NAND Flash 

  </p>

<p>2) NOR Flash (eXecute In place, XIP)

  </p>

<p>3) USB

  </p>

<p>4) eMMC

  </p>

<p>5) SD card 

  </p>

<p>6) Ethernet 

  </p>

<p>6) UART 

  </p>

<p>7) SPI

  </p>

<p>That means, you can keep the boot images in any of the above memory or peripheral and you can able to boot this SOC. 

  </p>

<p>Please go to the page number 4106 of the TRM and you will find the below table.&nbsp;

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-26-31-871b3dffca8c53a1d2da94bc6bfada6d.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-26-31-871b3dffca8c53a1d2da94bc6bfada6d.png"></figure><p>Don’t be scared by looking at the table, but just concentrate on <b>SYSBOOT[4:0] </b>

  </p>

<p><b><i>“SYSBOOT” is one of the register of this SOC and its first five bits decide the boot order . </i></b>

  </p>

<p>Let’s take an example, 

  </p>

<p>When SYSBOOT [4:0] = 00000b (This is reserved, you cannot use this configuration)

  </p>

<p>When SYSBOOT [4:0] = 00001b

  </p>

<p>After the RESET if SYSBOOT [4:0] = 00001b , then SOC will try to boot from UART0 first , if fails, then it tries to boot from XIP(XIP stands for eXutable In Place memory like NOR Flash), if that also fails, then it will try to boot from MMC0, if no success, finally it tries to boot from SPI0, if that also fails, then SOC outputs the error message and stops.&nbsp;

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-27-04-860c053e9f9fa96dff869559fe99a105.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-27-04-860c053e9f9fa96dff869559fe99a105.png"></figure><p><b>How SOC decides the boot order?</b>&nbsp;</p><p>
  When you reset the SOC, the code stored in the ROM of the SOC runs first !</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-27-31-3a29d4a6ccf44edb04695b00389b7467.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-27-31-3a29d4a6ccf44edb04695b00389b7467.png"></figure><p>The code stored in the “ROM” is called <b><i>ROM boot loader</i></b>, this is programmed in to the ROM of the SOC during taping out of the chip, you cannot able to change it, why?? Because its ROM. Read only !!!!

  </p>

<p>The job of the ROM is to set up the SOC clock, watch dog timer, etc and also its major job is to load the <b><i>second stage boot loader</i></b>, what we call MLO or SPL, more on this later. 

  </p>

<p><b>Now, from where it should load the second stage boot loader? </b>

  </p>

<p>For that what ROM code does is, it reads the register <b>SYSBOOT [15:0]</b>, and based on the value of <b>SYSBOOT[4:0]</b> it prepares the list of booting devices. <b><i>The register SYSBOOT [15:0] value is decided by the voltage level on the SYSBOOT pins.</i></b> 

  </p>

<p>That is, let’s say, if <b>SYSBOOT[4:0] = 00011b</b>, then boot order will be , <b>UART0,SPI0.XIP,MMC0 ( look at the table please !!! )</b>

  </p>

<p>So, we can say that, The <b>SYSBOOT pins</b> configure the boot device order (set by SYSBOOT[4:0]).

  </p>



<p>Some board, will give you the control to change the SYSBOOT[15:0] value by using dip switches like below.&nbsp;

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-00-cb8cace0d3d9aaf40c35d025161cbc9e.jpg" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-00-cb8cace0d3d9aaf40c35d025161cbc9e.jpg"></figure><p>Here, by configuring the dip switches you can decide the value of SYSBOOT pins , thus enforcing the boot order which you like.&nbsp;

</p><p><b>But in BBB, there are no such dip switches to configure the SYSBOOT pins</b>. <b>BBB has some other circuitry to decide the SYSBOOT pins voltage level, read on!!</b>

  </p>



<p>BBB Boot order configuration circuit 

  </p>

<p>In BBB you will find this circuitry, (you will find in SRM&nbsp; , not in TRM )

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-25-cd61d3c3871527b453928528611c4c38.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-25-cd61d3c3871527b453928528611c4c38.png"></figure><p>Here observe that <b>SYS_BOOT2</b> is connected to a button S2 of the BBBB ( S2 is the boot button )

  </p>

<p>When you simply give power to the board, You will find the voltage level as below. 

  </p>

<p><b>SYS_BOOT0 = 0V</b>

  </p>

<p><b>SYS_BOOT1 = 0V</b>

  </p>

<p><b>SYS_BOOT2 =1V</b>

  </p>

<p><b>SYS_BOOT3 = 1V</b>

  </p>

<p><b>SYS_BOOT4 = 1V</b>

</p><p>You can confirm this by measuring the voltage level using Mutlimeter, 

  </p>

<p>If you have Multimeter, measure the voltage of 45,44,43,41,40 pins of the expansion header P8 of the board you will find SYSBOOT[4:0] = 11100&nbsp;

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-50-1aca8ef1aab6a418daf54cf7d3c60b74.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-28-50-1aca8ef1aab6a418daf54cf7d3c60b74.png"></figure><p><br></p><p>and when you press the button S2, <b>SYS_BOOT2</b> will be grounded , so <b>SYSBOOT[4:0]= 11000</b>

  </p>



<p>Great! Now based on S2 (BBB boot button) we got 2 boot configurations 

  </p>



<p>1) S2 Released (SYSBOOT[4:0] = 11100)

  </p>

<p>The boot order will be 

  </p>

<ol><li>MMC1 (eMMC)

  </li><li>MMC0 (SD card)

  </li><li>UART0

  </li><li>USB0

</li></ol><p>2) S2 pressed (SYSBOOT[4:0] = 11000) , The boot order will be</p>

<ol><li>SPI0

  </li><li>MMC0 (SD card)

  </li><li>USB0

  </li><li>UART0

</li></ol><p>So, to conclude, there are 5 boot sources supported for this board including SPI.</p>

<p><b>1) eMMC Boot(MMC1) :</b>

  </p>

<p>&nbsp;eMMC is connected over MMC1 interface, This is the fastest boot mode possible, eMMC is right there on your board, so need not to purchase any external components or memory chip. This is the default boot mode. As soon as you reset the board, the board start booting from loading the images stored in the eMMC. 

  </p>

<p><b><i>If no proper boot image is found in the eMMC, then Processor will automatically try to boot from the next device on the list.&nbsp;</i></b>

</p><p><b>2) SD Boot :</b>

  </p>

<p>&nbsp;If the default ( that is booting from eMMC) boot mode fails, then it will try to boot from the SD card you connected to the sd card connector at MMC0 interface. 

  </p>

<p>If you press S2 and then apply the power, then the board will try to boot from the SPI first, and if nothing is connected to SPI, it will try to boot from the MMC0 where our SD card is found

  </p>

<p>Also remember that we can use SD card boot to flash boot images on the eMMC. So if you want to write new images on the eMMC&nbsp; then you can boot through sd card, then write new images to eMMC, then reset the board, so that your board can boot using new images stored in the eMMC. 

 &nbsp;We will do these experiments later in this course. Don’t worry!

</p><p><b>3) Serial boot :</b>

  </p>

<p>In this mode, the ROM code of the SOC will try to download the boot images from the serial port.

  </p>

<p>We have separate experiment on this boot mode and its very interesting.&nbsp;

</p><p><b>4 ) USB BOOT : </b>

  </p>

<p>You may be familiar with this boot mode, that is booting through usb stick!

  </p>

<p>&nbsp;You would have booted your PC through the usb stick. What you do is, you restart the PC, then press bios button to put the PC in to bios mode, there you select boot form usb, right?

  </p>

<p>&nbsp;It is very similar, when you reset the board, you can make your board to boot from the USB stick.&nbsp;

</p><p><b>More details about ROM Code Booting procedure!</b>

  </p>

<p>These are the 2 flow charts, you can find in the TRM of the am335x SOC

  </p>

<p>Please visit the page 4103 of the TRM

  </p>

<p>You will find the below image&nbsp;

</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-30-17-44c5d28b9fd340abb67e504c2886923b.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-30-17-44c5d28b9fd340abb67e504c2886923b.png"></figure><p>Here, you can see that the ROM code goes through its boot device list to load the second stage boot loader<b><i>. It will prepare the boot devices list based on the value of SYSBOOT pins.&nbsp;</i></b></p><p><b><i></i></b><b>The ROM Code start-up procedure &nbsp;(page 4102)</b></p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-30-46-337610a35c2e16f3ab22f26588afea30.png" data-s3="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2017-08-21_09-30-46-337610a35c2e16f3ab22f26588afea30.png"></figure><p>Great, so, that was the intro to the BBB boot configurations and boot modes. We will explore more about this practically as we make a progress in the course. If you have any questions fell free to post it in the course discussion board.&nbsp;</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>