<h4>Why AM335x ROM Code cannot load the Uboot directly to DDR RAM?

  </h4><p>The reason why ROM boot loader of the AM335x SOC cannot load Uboot directly to DDD3 by skipping SPL is,</p>



<p>ROM code won’t be having any idea about what kind of DDR RAM being used in the product to initialize it. 

  </p>



<p>DDR RAM is purely product/ board specific. 

  </p>

<p>Let’s say there are 3 board/product manufacturing companies X,Y,Z

  </p>

<p>X may design a product using AM335x SOC with DDR3. In which lets say DDR3 RAM is produced by microchip.

  </p>



<p>Y may design its product using AM335x SOC with DDR2 produced by Transcend and Z may not use DDR memory at all for its product. 

  </p>



<p>So, RBL has no idea in which product this chip will be used and what kind of DDR will be used, and what are DDR tuning parameters like speed, bandwidth, clock augments, size, etc.&nbsp; 

  </p>



<p>Because to read ( or write) anything from/to DDR RAM , first, the tuning parameters must be set properly and DDR registers must be initialized properly . 

  </p>



<p>Every different manufacture will have different parameters for their RAM. So, that’s the reason RBL never care about initializing DDR controller of the chip and DDR RAM which is connected to chip. 

  </p>



<p>RBL just tries to fetch the SPL found in memory devices such as eMMC and SD card or peripherals like UART,EMAC,etc. 

  </p>



<p>And in the SPL/MLO, you should know, what kind of DDR is connected to your product and based on that you have to change the SPL code , rebuild it and generate the binary to use it as the second stage boot loader. 

  </p>

<p>For example the Beaglebone black uses DDR3 from Kingston and if your product uses DDR3 from transcend, then if the turning parameters are different then you have to change the DDR related header files and the tuning parameter macros of the SPL , rebuild and generate the binary .&nbsp;

</p>

<p><br></p>



<p><br></p>